# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
db.sqlite3
*.log
local_settings.py

# =========================
# Node / Vue / Vite
# =========================
node_modules/
dist/
dist-ssr/
*.local

# Vite
.vite/

# =========================
# TypeScript / IDE
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp

# =========================
# Build / Coverage
# =========================
coverage/
.nyc_output/

# =========================
# Misc
# =========================
tmp/
.cache/
